# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/settings.json
.idea/advanced-python.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources/50f795fa-ba78-43c5-8ebd-6bf7c8fc29ab.xml
.idea/inspectionProfiles/profiles_settings.xml
homework_1_square_kkikas/for_submitting/hw1_square_kkikas.txt
homework_1_square_kkikas/for_submitting/hw1_square_kkikas.zip
homework_1_square_kkikas/square2/pyvenv.cfg
homework_1_square_kkikas/square2/Scripts/activate
homework_1_square_kkikas/square2/Scripts/activate.bat
homework_1_square_kkikas/square2/Scripts/Activate.ps1
homework_1_square_kkikas/square2/Scripts/deactivate.bat
homework_1_square_kkikas/square2/Scripts/nose2.exe
homework_1_square_kkikas/square2/Scripts/pip.exe
homework_1_square_kkikas/square2/Scripts/pip3.10.exe
homework_1_square_kkikas/square2/Scripts/pip3.exe
homework_1_square_kkikas/square2/Scripts/py.test.exe
homework_1_square_kkikas/square2/Scripts/pytest.exe
homework_1_square_kkikas/square2/Scripts/python.exe
homework_1_square_kkikas/square2/Scripts/pythonw.exe
homework_1_square_kkikas/squarevenv/pyvenv.cfg
homework_1_square_kkikas/squarevenv/Scripts/activate
homework_1_square_kkikas/squarevenv/Scripts/activate.bat
homework_1_square_kkikas/squarevenv/Scripts/Activate.ps1
homework_1_square_kkikas/squarevenv/Scripts/deactivate.bat
homework_1_square_kkikas/squarevenv/Scripts/pip.exe
homework_1_square_kkikas/squarevenv/Scripts/pip3.10.exe
homework_1_square_kkikas/squarevenv/Scripts/pip3.exe
homework_1_square_kkikas/squarevenv/Scripts/py.test.exe
homework_1_square_kkikas/squarevenv/Scripts/pytest.exe
homework_1_square_kkikas/squarevenv/Scripts/python.exe
homework_1_square_kkikas/squarevenv/Scripts/pythonw.exe
homework_2_databases_kkikas/for_submitting/hw2_sql.zip
